<footer id="site-footer">
  <ul class="Container-Large wrapper">
    <li class="left">Copyright <a href="{{@blog.url}}">{{@blog.title}}</a> 2015</li>
    <li class="right">Powered by <a href="http://www.dreamhost.com">Dreamhost</a>, Published with <a href="http://www.ghost.org">Ghost</a></li>
  </ul>
</footer>
