{{! pagination template.}}
<section id="pagination" class="Container-Large">
  <h3 class="pagenum">Page <br>{{page}} of {{pages}}</h3>
  <ul>
    {{#if prev}}
      <li class="prev"><a href="{{page_url prev}}">Previous Page</a></li>
    {{/if}}
    {{#if next}}
      <li class="next"><a href="{{page_url next}}">Next Page</a></li>
    {{/if}}
  </ul>
</section>
