{{!< default}}
{{! author template}}
<section id="author">
  {{#author}}
    <header class="author">
      <div class="Container-Medium wrapper">
        <h3>{{name}}</h3>
        <p>{{bio}}</p>
        <ul>
          <li>{{website}}</li>
          <li>{{location}}</li>
        </ul>
      </div>
    </header>
  {{/author}}
  <section class="wrapper Container-Large">
    {{> "loop"}}
  </section>
</author>
