{{!< default}}
{{! post template}}
{{#post}}
  <article id="post" class="Container-Small">
    <header class="post">
      <h1>{{title}}</h1>
    </header>
    <section class="content">
      {{{content}}}
    </section>
    <section class="social">

    </section>
    <section class="disqus">

    </section>
  </article>
{{/post}}
<script>
  jQuery("#post header.post h1").fitText(0.51);
</script>
