{{!< default}}
{{! post template}}
{{#post}}
  <article id="post">
    <header class="post">

    </header>
    <section class="content">

    </section>
    <section class="social">

    </section>
    <section>

    </section>
  </article>
{{/post}}
