{{!< default}}
{{! post template}}
{{#post}}
  <article id="post" class="Container-Small">
    <header class="post">
      <h1>{{title}}</h1>
    </header>
    <section class="content">
      {{{content}}}
    </section>
    <section class="social">

    </section>
    <section class="author">

    </section>
    <section class="disqus">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES * * */
          var disqus_shortname = 'danieltamkin-debonair';

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </section>
  </article>
{{/post}}
<script>
  jQuery("#post header.post h1").fitText(0.51);
</script>
