	body{
		background:#fff;
		color:#273a34;
		font-family:'Raleway',Serif;
	}
	a{
		-webkit-transition: all 100ms ease-in-out;
		-moz-transition: all 100ms ease-in-out;
		-ms-transition: all 100ms ease-in-out;
		-o-transition: all 100ms ease-in-out;
		transition: all 100ms ease-in-out;
	}
	a:hover{
		color:#cf3333;
		-webkit-transition: all 100ms ease-in-out;
		-moz-transition: all 100ms ease-in-out;
		-ms-transition: all 100ms ease-in-out;
		-o-transition: all 100ms ease-in-out;
		transition: all 100ms ease-in-out;
	}
	p a:hover{
		color:#cf3333;
	}
/*> navigation*/
	#site-nav{
		padding:1em;
		box-sizing:border-box;
		width:100%;
		display:inline-block;
		font-family: 'Lato';
	}
	#site-nav .wrapper{
		height:auto;
	}
	#site-nav section{
		display:inline-block;
	}
	#site-nav section.title{
		float:left;
		font-family:'Lato-Black';
	}
	#site-nav section.nav{
		float:right;
		font-family:'Didactic';
	}
	#site-nav section.nav ul{
		display:block;
		text-align:left;
	}
	#site-nav section.nav ul li{
		margin-top:17px;
		padding:0 0.9em;
		display:inline-block;
		opacity:0.6;
		-webkit-transition: all 100ms ease-in-out;
		-moz-transition: all 100ms ease-in-out;
		-ms-transition: all 100ms ease-in-out;
		-o-transition: all 100ms ease-in-out;
		transition: all 100ms ease-in-out;
	}
	#site-nav section.nav ul a{
		padding:0 0.3em;
	}
	#site-nav section.nav ul li:hover{
		opacity:1;
		-webkit-transition: all 100ms ease-in-out;
		-moz-transition: all 100ms ease-in-out;
		-ms-transition: all 100ms ease-in-out;
		-o-transition: all 100ms ease-in-out;
		transition: all 100ms ease-in-out;
	}
/*> footer*/
	#site-footer{
		margin-top:1em;
		padding:1.6em;
		box-sizing:border-box;
		width:100%;
		display:inline-block;
		font-family:'Raleway';
		font-size:90%;
	}
	#site-footer a{
		font-family:'Lato-Black';
		font-size:1.2em;
	}
	#site-footer li{
		display:inline-block;
	}
	#site-footer li.left{
		float:left;
		text-align:right;
	}
	#site-footer li.right{
		float:right;
		text-align:right;
	}
/*> loop*/
	#loop{
		margin:3.1em auto;
		text-align:center;
	}
	#loop article{
		margin:4em 1.1%;
		margin-bottom:2em;
		display:inline-block;
		vertical-align:top;
		width:30%;
		font-family: 'Didactic';
		line-height:1.6;
		text-align:left;
	}
	#loop article header{
		margin-bottom:2em;
	}
	#loop article header h2{
		font-size:2.6em;
		min-height:60px;
		max-height:160px;
		width:100%;
		display:inline-block;
		line-height:1;
	}
	#loop article header p{
		opacity:0.6;
	}
	#loop article section.excerpt{
		font-size:1.2em;
		line-height:1.9;
		display:inline-block;
	}
	#loop article section.social{

	}
	#loop article section.disqus{

	}
/*> post*/
	#post article{
		margin:1em 0;
	}
	#post header.post{
		margin:4.1em 0;
		max-height:650px;
		width:100%;
		display:inline-block;
		font-family:'Lora-Bold';
	}
	#post section.content{
		line-height: 1.9;
		font-family:'Lora';
		font-size:1.4em;
	}
	#post section.content p{
		margin:1.1em 0;
	}
