	body{
		background:#fff;
		color:#273a34;
		font-family:'Raleway',Serif;
	}
	a:hover{
		text-decoration:underline;
	}
	p a:hover{
		color:#000;
		text-decoration:underline;
	}
/*> navigation*/
	#site-nav{
		padding:1em;
	}
	#site-nav section{
		display:inline-block;
	}
	#site-nav section.title{
		float:left;
	}
	#site-nav section.nav{
		float:right;
	}
